version: '3.3'
services:
  front:
    container_name: front
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - mynetwork

  nginx:
    image: nginx:latest
    container_name: front_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - front
    networks:
      - mynetwork

networks:
  mynetwork:
    external: true