version: '3'
services:
  front:
    container_name: front
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - mynetwork

networks:
  mynetwork:
    external: true   # ← backend と同じネットワークを使う
